

<div class="navbar navbar-inverse" role="navigation">

  
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
              
               
              
  
      </div><hr>
  
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" >
        {% if current_user.is_authenticated %}

        <li id="home"><a href="/"><h3 class="btn btn-warning">HOME</h3></a></li>
        <li id="profile"><a href="{{url_for('main.profile',uname=current_user.username)}}"><h3 class="btn btn-warning">PROFILE</h3></a></a></li>
        <li id="sign-out"><a href="{{url_for('auth.logout')}}"><h3 class="btn btn-warning">SIGN OUT</h3></a></li>
        {% else %}
        
        <li id="sign-in"><a href="{{url_for('auth.login')}}"><h3 class="btn btn-warning">SIGN IN</h3></a></li>
        {%endif%}
      </ul>
    </div>
  </div> <br><br><hr>

  
  